<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8" />
        <title>Page Dynamique</title>
    </head>

    <body>
        {{> header}} <!-- Inclusion du header.hbs -->

        <h1>Création d'un éditeur : </h1>

        <!-- Formulaire de création d'un éditeur : Nom requis et Bouton de validation-->

        <form id="addEditorForm" action="/addEditor" method="POST">
            <label for="editorName">Nom de l'éditeur :</label>
                <input type="text" id="editorName" name="editorName" required/>

            <button type="submit" class="acceptButton">Ajouter</button>
        </form>
        
    </body>
</html>