<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Liste des Genres</title>
</head>

<body>
    {{> header}}
    <h1>Liste des Genres</h1>
    <ul>
        {{#each genres}}
        <li><a href="/genreDetails/{{this.id}}-{{this.genre}}">{{this.genre}}</a></li>
        {{/each}}
    </ul>
</body>

</html>