<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8" />
        <title>Création de Jeu</title>
        <link rel="stylesheet" href="/styles/homepage.css">
    </head>

    <body>
        {{> header}}
        <h1>Jeux en avant sur la page d'accueil</h1>
        <ul>
            {{#each games}}
                <li><a href="/gameDetails/{{this.id}}-{{this.name}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </body>
</html>