/* ---- Pour le header ----
   ------------------------ */

header {
    background-color: hsl(0, 3%, 18%);
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
}

nav a button {
    padding: 8px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #212121;
    color: white;
}

#titre {
    padding: 10px 10px;
    font-size: 25px;
    font-family: Impact;
}

.currentButton Button{
    background-color: #c58504;
}

/* ---- Uniquement utilisés pour le GameDetails.hbs ----
   -----------------------------------------------------  */

   #genreInGameDetails{
    margin: 20px;
    font-size: 22px;
    color: rgb(128, 164, 255);
    text-decoration: underline rgb(128, 164, 255);
}

#editorInGameDetails{
    color: rgb(255, 122, 122);
    font-size: 22px;
    text-decoration: underline rgb(255, 122, 122);
}

#paragraphGameDetails{
    font-size: 24px;
}

/* ---- Pour le reste de chaque page ----
   --------------------------------------  */

body {
    background-color: #3c3c3c;
    color: #ffffff; 
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium';
}

ul {
    font-family: Arial, sans-serif;
    margin-left: 10px;
}

a {
    color: white;
    text-decoration: underline gray;
  }
  
/* Quand un lien est survolé par le curseur*/
a:hover {
    color: rgb(95, 255, 71);
  }
  
/* Espacement entre chaque valeur d'une liste*/
ul li {
    padding: 10px 0;
}

h1 {
    padding: 20px 25px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
}

p {
    font-size: 14px;
    margin: 25px;
}

.acceptButton{
    padding: 8px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #2d662c;
    color: white;
}

.modifyButton{
    padding: 8px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #2c3366;
    color: white;
}

.deleteButton{
    padding: 8px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #662c2c;
    color: white;
}

.appearButton{
    padding: 8px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #665b2c;
    color: white;
}

.notAppearButton{
    padding: 8px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #2d2d2d;
    color: white;
}

#addGameForm, #addEditorForm  {
    margin: 20px;
}